* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font:
    {
      family: $secondary-font-family;
      size: $default-font-size;
      weight: $default-font-weight;
    }
}

a {
  text-decoration: none;
  opacity: 0.9;
  color: #FFF;

  &:hover {
    opacity: 1;
  }
}