$primary-color: #F1A43F;
$secondary-color: #7AA12A;

$default-font-family: "Source Sans Pro", sans-serif;
$default-font-size: 16px;
$default-font-weight: normal;

$secondary-font-family: "Open Sans", sans-serif;
$tertiary-font-family: "Quicksand", sans-serif;