$color-flex-containers: #BBB;
$color-box-red: #F00;
$color-box-blue: #00F;

h1 {
  color: $color-flex-containers;
}

main {
  width: 1200px;
  margin: 0 auto;
}

.direction {
  background-color: lighten($color-flex-containers, 20%);

  & > div {
    margin: 10px;
    display: flex;
  }

  &--row {
    flex-direction: row;
  }

  &--row-reverse {
    flex-direction: row-reverse;
  }

  &--column {
    flex-direction: column;
  }

  &--column-reverse {
    flex-direction: column-reverse;
  }
}

.box {
  width: 100px;
  height: 100px;
  padding: 5px;
  font: {
    size: 1.2rem;
    weight: bold;
  }
  color: #FFF;
  border: 1px solid $color-flex-containers;

  &.red {
    background-color: $color-box-red;
  }
}
