footer
  p Images courtesy of Bob Cobb.
  p Some additional information to be read here.
  ul
    li
      a(href="#")
        i.fa.fa-twitter.fa-2x
    li
      a(href="#")
        i.fa.fa-facebook.fa-2x
    li
      a(href="#")
        i.fa.fa-snapchat.fa-2x