header
  h2
    a(href="#") Mountain Travel
  include navigation.pug

section.hero
  .background-image(style="background-image: linear-gradient(to right bottom, rgba(133, 142, 231, 0.9), rgba(92, 146, 230, 0.9)), url(../img/IMG_1444.JPG)")
  .hero-content-area
    h1 Mountain Travel
    h3 Some Good Travel Opportunities Available Now
    a(href="#").btn Contact Us