doctype html
html
  head
    title Flexbox Review - November 2018 | Flex Containers
    include includes/flex-containers-head.pug
  body
    block content
      main
        section.intro
          h1 Flex Containers
        .direction
          .direction--row
            .box.red Box 1
            .box.red Box 2
            .box.red Box 3
            .box.red Box 4
          .direction--row-reverse
            .box.red Box 1
            .box.red Box 2
            .box.red Box 3
            .box.red Box 4
          .direction--column
            .box.red Box 1
            .box.red Box 2
            .box.red Box 3
            .box.red Box 4
          .direction--column-reverse
            .box.red Box 1
            .box.red Box 2
            .box.red Box 3
            .box.red Box 4