doctype html
html
  head
    title Flexbox Review - November 2018 | Flex Containers
    include includes/flex-containers-head.pug
  body
    block content
      main
        section.intro
          h1 Flex Containers
        .direction
          h3 flex-direction: row; flex-wrap: wrap; align-content: center;
          .direction--row
            .box.red Box 1
            .box.red Box 2
            .box.red Box 3
            .box.red Box 4
            .box.red Box 5
            .box.red Box 6
            .box.red Box 7
            .box.red Box 8
            .box.red Box 9
            .box.red Box 10
            .box.red Box 11
            .box.red Box 12
          h3 flex-direction: row-reverse; flex-wrap: wrap-reverse; align-content: space-between;
          .direction--row-reverse
            .box.red Box 1
            .box.red Box 2
            .box.red Box 3
            .box.red Box 4
            .box.red Box 5
            .box.red Box 6
            .box.red Box 7
            .box.red Box 8
            .box.red Box 9
            .box.red Box 10
            .box.red Box 11
            .box.red Box 12
          h3 flex-direction: column; flex-wrap: wrap; align-content: flex-start;
          .direction--column
            .box.red Box 1
            .box.red Box 2
            .box.red Box 3
            .box.red Box 4
            .box.red Box 5
            .box.red Box 6
            .box.red Box 7
            .box.red Box 8
            .box.red Box 9
            .box.red Box 10
            .box.red Box 11
            .box.red Box 12
          h3 flex-direction: column-reverse; flex-wrap: wrap-reverse; align-content: stretch;
          .direction--column-reverse
            .box.red Box 1
            .box.red Box 2
            .box.red Box 3
            .box.red Box 4
            .box.red Box 5
            .box.red Box 6
            .box.red Box 7
            .box.red Box 8
            .box.red Box 9
            .box.red Box 10
            .box.red Box 11
            .box.red Box 12
          h3 justify-content: space-around;
          .direction--justify
            .box2.red Box 1
            .box2.red Box 2
            .box2.red Box 3
            .box2.red Box 4