extends layouts/empty.pug

block content
  header
    nav
      a(href="#") Nav Left
      a(href="#") Nav Right
  main
    article Main Content
    nav Side Nav
    aside Aside Content
  footer Footer Content