doctype html
html
  head
    title Flexbox Review - November 2018
    include includes/head.pug
  body
    include includes/navigation.pug
    h1 Welcome to the website!

    

    include includes/footer.pug
