doctype html
html
  head
    title Flexbox Review - November 2018
    include includes/simple-layout-head.pug
  body
    block content
      main
        div.content
          h1 Website Title
          hr
          a(href="#").btn Click Here
          hr
        div.content
          div.box Info
        //- div.element