doctype html
html
  head
    title Flexbox Review - November 2018
    include ../includes/head.pug
  body
    include ../includes/header.pug

    main
      block content

    include ../includes/footer.pug
