section.blocks {
  height: 400px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  // justify-content: space-between;

  .block {
    @include block(green);
    @include block(red);
    @include block(blue);
    @include block(orange);
    @include block(darkgreen);

    &.green {
      align-self: flex-end;
    }
  }
}