footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #607D8B;
  color: #FFF;
  padding: 20px 0;

  @include lg {
    flex-direction: column;
  }

  ul {
    display: flex;

    li {
      margin-left: 16px;

      @include lg {
        margin: 0 8px;
      }
    }
  }

  p {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-self: center;

    @include lg {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}