// header {
//   display: flex;

//   h1 {
//     @extend %basic-border;
//     flex: 1;
//   }

//   nav {
//     @extend %basic-border;
//     flex: 1;
//     height: 50px;
//     display: flex;
//     justify-content: flex-end;
  
//     a {
//       color: darken($primary-color, 20%);
//     }
//   }
// }

// %basic-border {
//   padding: 10px;
//   border: 1px dashed $secondary-color;
// }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  opacity: 0;
  animation: 1s fadein 0.5s forwards;
  position: absolute;
  width: 100%;
  color: #FFF;
  z-index: 100;

  h2 {
    font-family: $tertiary-font-family;
  }

  nav ul {
    display: flex;
    margin-right: -15px;
    list-style: none;

    li {
      margin: 0 15px;
    }
  }

  @include md {
    padding: 20px 50px;
    flex-direction: column;

    h2 {
      margin-bottom: 15px;
    }

    nav ul {
      margin-right: 0px;
    }
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}