@mixin block($bg-color, $height: 100px, $width: 100px, $padding: 10px, $margin: 0px, $color: #FFF) {
  &.#{$bg-color} {
    // height: $height;
    // width: $width;
    background-color: $bg-color;
    color: $color;
    padding: $padding;
    // margin: $margin;
    font-weight: 700;
  }
}

@mixin basic-block($bg-color, $padding: 12px) {
  &.#{$bg-color} {
    background-color: $bg-color;
    color: #FFF;
    padding: $padding;
    font-weight: bold;
  }
}

/*** media queries ***/

// small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// small tablets (portrait view)
$screen-md-min: 800px;

// tablets and small desktops
$screen-lg-min: 1100px;

// small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin rwd($screen) {
  @media (max-width: $screen + 'px') {
    @content;
  }
}